twynk_backend/mysql_data_dev/
twynk_backend/src/vendor/
twynk_backend/src/node_modules/
twynk_backend/src/storage/app/*
twynk_backend/src/storage/framework/*
twynk_backend/src/storage/logs/*
twynk_backend/src/bootstrap/cache/*.php
twynk_backend/twynk/

twynk_frontend/.dart_tool/
twynk_frontend/build/
twynk_frontend/.packages
twynk_frontend/.flutter-plugins
twynk_frontend/.flutter-plugins-dependencies
twynk_frontend/windows/flutter/
twynk_frontend/windows/runner/Debug/
twynk_frontend/windows/runner/Release/
twynk_frontend/macos/Flutter/ephemeral/
twynk_frontend/linux/flutter/ephemeral/
twynk_frontend/ios/Flutter/.last_build_id
twynk_frontend/ios/.generated/

.DS_Store
*.log
.idea/
.vscode/